<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midasit.bungae.generator.mapper.UserMapper">
    <select id="selectExist" parameterType="com.midasit.bungae.user.dto.User" resultType="java.lang.Integer">
        select exists (select * from user where id = #{id,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR})
    </select>

    <select id="selectExistId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select exists (select * from user where id = #{id,jdbcType=VARCHAR})
    </select>
</mapper>